@media (min-width: 320px) {
    nav {
        display: block;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #f4f4f4;
    }
    
    .profile {
        display: flex;
        align-items: center;
    }
    
    .profile img {
        width: 60px;
        height: auto;
        margin-right: 10px;
    }
    
    .profile h1 {
        font-size: 18px;
        text-align: center;
        margin: 0;
    }
    
    #menu {
        display: none;
    }
    


    

   
}