@media screen and (min-width: 320px) {
    body {
        margin: 0;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .hamburger {
        display: none;
    }

    nav ul li a {
        border: none;
    }

    
   

    
}