@media screen and (min-width: 420px) {
    body {
        margin: 0;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .hamburger {
        display: none;
    }

    nav ul li a {
        border: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer #box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer #links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
    }

    
}